
@import '~antd/dist/antd.css';
.normal {
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: #0B3771;
  padding: .6em 0;
  color: white;
  margin: 0;
}
